@use "source/styles/global/variables" as var;
@use "source/styles/global/mixins" as mixin;

.page-title {
  @include mixin.reset-h;
  font-family: var.$oswald-regular;
  font-size: 36px;
  line-height: 36px;
  color: var.$basic-white;
  text-align: center;
}
